Repository tedilabs/terraform-aws-cost, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: cur-report, :floppy_disk: rds-reserved-instance

Add README.md
  README.md
  VERSION
Labels: none

Update cur-report module
  modules/cur-report/README.md
  modules/cur-report/main.tf
  modules/cur-report/outputs.tf
  modules/cur-report/variables.tf
Labels: :floppy_disk: cur-report

Add cur-report example
  README.md
  examples/cur-report/main.tf
  examples/cur-report/outputs.tf
  examples/cur-report/versions.tf
Labels: none

Add rds ri examples
  README.md
  examples/rds-ri-aurora-mysql-1y-no-upfront/main.tf
  examples/rds-ri-aurora-mysql-1y-no-upfront/outputs.tf
  examples/rds-ri-aurora-mysql-1y-no-upfront/versions.tf
  examples/rds-ri-postgresql-3y-all-upfront/main.tf
  examples/rds-ri-postgresql-3y-all-upfront/outputs.tf
  examples/rds-ri-postgresql-3y-all-upfront/versions.tf
Labels: none

Bump to v0.2.0
  VERSION
Labels: none

Fix typo
  modules/cur-report/README.md
  modules/cur-report/variables.tf
Labels: :floppy_disk: cur-report

backup
  modules/cost-allocation-tags/README.md
  modules/cost-allocation-tags/main.tf
  modules/cost-allocation-tags/outputs.tf
  modules/cost-allocation-tags/variables.tf
  modules/cost-allocation-tags/versions.tf
Labels: none

Update pre-commit config
  .pre-commit-config.yaml
Labels: none

Fix typo
  modules/cur-report/variables.tf
Labels: :floppy_disk: cur-report

Update terraform version to v1.5
  .pre-commit-config.yaml
  examples/cur-report/versions.tf
  examples/rds-ri-aurora-mysql-1y-no-upfront/versions.tf
  examples/rds-ri-postgresql-3y-all-upfront/versions.tf
  modules/cur-report/README.md
  modules/cur-report/versions.tf
  modules/rds-reserved-instance/README.md
  modules/rds-reserved-instance/versions.tf
Labels: :floppy_disk: cur-report, :floppy_disk: rds-reserved-instance

Update terraform version to v1.5 (#10)
  .pre-commit-config.yaml
  examples/cur-report/versions.tf
  examples/rds-ri-aurora-mysql-1y-no-upfront/versions.tf
  examples/rds-ri-postgresql-3y-all-upfront/versions.tf
  modules/cur-report/README.md
  modules/cur-report/versions.tf
  modules/rds-reserved-instance/README.md
  modules/rds-reserved-instance/versions.tf
Labels: :floppy_disk: cur-report, :floppy_disk: rds-reserved-instance

Update terraform dependency to minimum v1.6
  VERSION
  modules/cur-report/versions.tf
  modules/rds-reserved-instance/versions.tf
Labels: :floppy_disk: cur-report, :floppy_disk: rds-reserved-instance

Update dependabot
  .github/dependabot.yml
Labels: none

Support SPLIT_COST_ALLOCATION_DATA in cur-report
  modules/cur-report/README.md
  modules/cur-report/variables.tf
Labels: :floppy_disk: cur-report

Support SPLIT_COST_ALLOCATION_DATA in cur-report (#18)
  modules/cur-report/README.md
  modules/cur-report/variables.tf
Labels: :floppy_disk: cur-report

Bump to v0.2.2
  VERSION
Labels: none

.github/labeler.yaml:

# Modules
":floppy_disk: cur-report":
- modules/cur-report/**/*

":floppy_disk: rds-reserved-instance":
- modules/rds-reserved-instance/**/*
