Repository tedilabs/terraform-aws-cost, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: cur-report, :floppy_disk: rds-reserved-instance

.github/labeler.yaml:

# Modules
":floppy_disk: cur-report":
- changed-files:
  - any-glob-to-any-file:
    - modules/cur-report/**/*

":floppy_disk: rds-reserved-instance":
- changed-files:
  - any-glob-to-any-file:
    - modules/rds-reserved-instance/**/*

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/cur-report/README.md
  modules/rds-reserved-instance/README.md
Labels: :floppy_disk: cur-report, :floppy_disk: rds-reserved-instance

chore(rds-reserved-instance): updated required versions
  modules/rds-reserved-instance/README.md
  modules/rds-reserved-instance/versions.tf
Labels: :floppy_disk: rds-reserved-instance

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#21)
  README.md
Labels: none

feat(rds-reserved-instance): improve how to use resource_group in module
  modules/rds-reserved-instance/outputs.tf
  modules/rds-reserved-instance/resource-group.tf
  modules/rds-reserved-instance/variables.tf
Labels: :floppy_disk: rds-reserved-instance

feat(rds-reserved-instance): improve how to use resource_group in module (#22)
  modules/rds-reserved-instance/outputs.tf
  modules/rds-reserved-instance/resource-group.tf
  modules/rds-reserved-instance/variables.tf
Labels: :floppy_disk: rds-reserved-instance

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#23)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#27)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#29)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

chore: fix module labels in .github/labels.yaml (#30)
  .github/labels.yaml
Labels: none

feat(rds-reserved-instance): support aws v6
  modules/rds-reserved-instance/README.md
  modules/rds-reserved-instance/main.tf
  modules/rds-reserved-instance/outputs.tf
  modules/rds-reserved-instance/variables.tf
  modules/rds-reserved-instance/versions.tf
Labels: :floppy_disk: rds-reserved-instance

feat(cur-report): support aws v6
  modules/cur-report/README.md
  modules/cur-report/main.tf
  modules/cur-report/outputs.tf
  modules/cur-report/resource-group.tf
  modules/cur-report/variables.tf
  modules/cur-report/versions.tf
Labels: :floppy_disk: cur-report

fix(rds-reserved-instance): support region for resource group
  modules/rds-reserved-instance/resource-group.tf
Labels: :floppy_disk: rds-reserved-instance
